/* 실무적으로 재사용 가능성 높은 값만 */
$container-max: 1200px;

$color-black: #000;
$color-white: #fff;
$color-gray-666: #666;
$color-gray-333: #333;
$color-gray-ddd: #ddd;

$radius-8: 8px;
$radius-pill: 30px;

$md-active-bg: #0D5611;

$slider-height: 450px;
