/* ==========================
   Reset
========================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "맑은 고딕";
  color: #000;
}

/* ==========================
   Layout
========================== */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}

/* ==========================
   Header
========================== */
header {
  min-height: 150px;
  background-color: gold;
  align-items: center;

  .search-box {
    width: 350px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;

    input {
      border: none;
      outline: none;
      padding: 8px;
      width: 180px;
      font-size: 15px;
    }

    img {
      width: 40px;
      height: 40px;
      margin: 10px;
      cursor: pointer;
    }
  }

  .logo {
    width: 350px;
    height: 70px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    background-color: blue;
  }

  .right-box {
    width: 400px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #000;

    .login {
      font-size: 12px;
      background-color: skyblue;

      ul {
        display: flex;
        justify-content: flex-end;
        gap: 15px;

        a {
          color: #666;
        }
      }
    }

    .menu {
      height: 40px;
      background-color: pink;

      ul {
        display: flex;
        justify-content: flex-end;
        gap: 15px;

        a {
          display: flex;
          align-items: center;
          gap: 5px;
          color: #000;
        }

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

/* ==========================
   Slider
========================== */
#slider {
  width: 100%;
  min-height: 450px;
  background-color: tomato;

  img {
    width: 100%;
    min-height: 450px;
  }
}

/* ==========================
   Main
========================== */
main {
  min-height: 600px;
  background-color: skyblue;
}

.section-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 30px 0;
}

div > h3 {
  width: 100%;
  font-size: 27px;
  text-align: center;
}

div > p {
  width: 100%;
  font-size: 17px;
  color: #666;
  text-align: center;
  margin-bottom: 25px;
}

/* 상품 카드 */
.product-card,
.md-card {
  width: 280px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5px;

  img {
    width: 100%;
    margin-bottom: 15px;
  }

  h4 {
    font-size: 17px;
  }

  p {
    font-size: 14px;
    text-align: left;
  }

  h5 {
    font-size: 17px;
  }
}

.product-card {
  height: 395px;
}

.md-card {
  height: 515px;
}

    .banchan {
      width: 100%;
      min-height: 1000px;
      border: 2px solid red;
    }


    .kid-banchan {
      width: 100%;
      min-height: 600px;
      border: 2px solid blue;
    }

    .new-banchan {
      width: 100%;
      min-height: 1000px;
      border: 2px solid orange;
    }

  .banner {
  width: 100%;
  min-height: 200px;
  border: 2px solid green;

  > a {
    > img {
      width: 380px;
      height: 130px;
    }
  }
}


    
.md-banchan {
  width: 100%;
  min-height: 750px;
  border: 3px solid red; 

  > ul {
    width: 100%;
    min-height: 45px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 0 30px 0;

    > li {
      display: block;
      background-color: #ddd;
      padding: 15px 20px 0;
      color: #fff;
      border-radius: 30px;
      font-size: 16px;

      > a {
        color: #333;
      }

      &:first-child {
        background-color: #0D5611;
        color: #fff;
      }
    }
  }
}


/* ========== Footer ========== */
footer {
  min-height: 200px;
  background-color: greenyellow;
  display: flex;
  gap: 40px;

  .footer-left {
    flex: 1;
    background-color: red;

    p {
      margin: 5px 0;
      line-height: 1.5;
      text-align: left;
      font-size: 11px;
    }

    .tel {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .footer-right {
    flex: 2;
    background-color: blue;

    p {
      margin: 5px 0;
      line-height: 1.5;
      text-align: left;
      font-size: 11px;
    }

    .links {
      a {
        margin: 0 5px;
        color: #333;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
