/* ========== Reset ========== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

body {
  font-family: "맑은 고딕";
  color: #000;
}

a {
  text-decoration: none;
}

/* ========== Layout 공통 컨테이너 ========== */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

/* ========== Header ========== */
header {
  min-height: 150px; // 데모용 고정 높이
  align-items: center;
}

/* ========== Main ========== */
main {
  min-height: 600px; // 나중에 콘텐츠 늘어남
}

.section-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 15px;
  margin: 30px 0;
}

.banchan {
  width: 100%;
  min-height: 1000px;
}

div {
  > h3 {
    width: 100%;
    font-size: 27px;
    text-align: center;
    line-height: 30px;
  }

  > p {
    width: 100%;
    font-size: 17px;
    text-align: center;
    color: #666;
    margin-bottom: 25px;
  }
}

/* ========== Product Card ========== */
.product-card {
  width: 280px;
  height: 395px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  > img {
    width: 100%;
    margin-bottom: 15px;
  }

  > h4 {
    font-size: 17px;
    color: #000;
  }

  > p {
    font-size: 14px;
    color: #666;
    text-align: left;
  }

  > h5 {
    font-size: 17px;
    color: #000;
  }
}

/* ========== MD Card ========== */
.md-card {
  width: 280px;
  height: 515px;

  > img {
    width: 100%;
    margin-bottom: 15px;
  }

  > h4 {
    font-size: 17px;
    color: #000;
  }

  > p {
    font-size: 14px;
    color: #666;
    text-align: left;
  }

  > h5 {
    font-size: 17px;
    color: #000;
  }
}
