/* ==========================
   변수 선언 (맛보기)
   SCSS에서는 $로 시작하면 변수
========================== */

/* p 태그 글자색 변수 */
$p-text-color: #666;

/* ==========================
   기본 스타일
========================== */

body {
  font-family: "맑은 고딕";
}

h1 {
  color: #333;

  /* h1 안에 있는 span만 선택 */
  span {
    color: tomato;
    font-size: 0.8em;
  }
}

p {
  color: $p-text-color;
}
